img.news-image {
    background: #dadada;
    height: 300px;
    width: 300px;
  }
  p.news-info {
    margin-top: 0;
  }
  .news-item {
    clear: both;
  }
  .odd div.news-info {
    float: right;
  }
  .odd div.news-image {
    float: left;
  }
  .even div.news-info {
    float: left;
  }
  .even div.news-image {
    float: right;
  }
  #pictures {
      width: 800px;
      margin: auto;
  }