



/* 
#shoppingCart {
    margin-top: 200px;
    margin-left: 550px;
}

table th {
 padding: 20px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 color:darkslategray;
 background-color: lightblue;
}


/* th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}


td:first-child {
    color: red;
    font-size: 20px;
    text-align: center;
}

td {
    padding: 20px; 
    background-color: lightgrey;
    border: grey ;
}

th, td {  
    border-bottom: 1px solid darkslategray;
}
    */



td:nth-last-child() {
    text-align: center;
    color:darkslategray;
    background-color: white;
}

footer img {
    width: 100%;
    margin-top: 150px;
}

button {  
    margin-left: 880px;
    margin-top: 20px;
    width: 100px;
    height: 50px;
    background-color: lightblue ;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}

.cartImage {
    height: 200px;
    width: 200px;
}

/* #shoppingCart{

    width:45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1 px solid lightblue;
} */ */
