
nav {
    position: relative;
    top: 75px;
    right: 10px;
}

main {
    width: 100%;
    background-image: url("img/redbkground.jpg");
}

#title {
    text-align: center;
} 

/* body, header, ul li, a:link a:visited = styles for the header/nav bar */
body {
    margin: 0 auto;
    width: 100%;
    /* background-color:lightgrey; */
}

#headerTitle {
    background-color: darkred;
    height: 160px;
    /* margin-top: 20px; */
    width: 100%;
    padding-top: 14px;
}

#logoImg {
    position: absolute;
}

ul li{
    font-size: 30px;
    padding: 10px;
    float: right;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    /* background-color: darkgrey; */
    color: white;
    padding: 14px 25px;
    }

Header a:link, a:visited {
    background-color: whitesmoke;
    color: darkred;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } 


/* select, imgContainer, prodImg, and singleImgCont - index.html which is shopping page */
#select {
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
}

/* .imgContainer {
    
} */

.prodImg {
    margin: 15px 15px 0px 15px;
}

.singleImgCont {
    float: left;
}



/* Below are styles for the shopping cart page */

#shoppingCart{

    margin-top: 100px;
    margin-left: 20%;
    width: 60%;
}
table th {

 padding: 20px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 color:white;
 background-color: darkred;

}


th:first-child{

    border-top-left-radius: 10px;
}

th:last-child{

    border-top-right-radius: 10px;

}




td{

    padding: 20px;
    
    background-color: lightgrey;

    border: grey ;
    text-align: center;
}

th, td{  border-bottom: 1px solid darkred;

}
   

td:nth-last-child(){

text-align: center;
color:darkslategray;

background-color: white;

}


.singleImgCont {
    border: 2px solid black;
    margin: 15px;
}

.productImage {
    height: 250px;
    width: 250px;
}

.formLabel {
    display: block;
}


button{
margin-left: 800px;
margin-top: 20px;
width: 100px;
height: 50px;
background-color: darkred ;
color: white;
}

#imgSection {
    text-align: center;
}

.allSport {
    margin: 0 auto;
    width: 80%;

}

.itemForm {
    text-align: center;
}

/* Below are the About Us and footer styles */

.subButton {
    display: blcok;
}

.cartImage{

width: 75px;
height: 75px;
text-align: center;
}

.cartremove{

color: darkred;
text-align: center;
    
}

.logos{
    width: 100px;
    height: 50px;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}
#icons {
    text-align: center;
}

.footer {
    display: inline-block;
}

#sport {
    font-size: 25px;
    height: 30px;
    width: 200px;
    margin: 10px;
}
  
#contactUs {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}